@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-fade-border {
  position: relative;
}

.navbar-fade-border::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  pointer-events: none;
  background: linear-gradient(
    to right,
    transparent,
    #171717 20%,
    #171717 80%,
    transparent
  );
  opacity: 0.9;
}

.cm-editor,
.cm-scroller {
  background-color: #232526 !important; /* Your custom background */
  color: #e5e7eb !important;
  border: none !important; /* Tailwind's text-gray-200 */
}

cm-gutters {
  border: none !important;
  background-color: #232526 !important;
}

.cm-content {
  border: none !important;
  box-shadow: none !important;
}

/* Change line number color */
.cm-gutters {
  background-color: #232526 !important; /* Blue color */
}

/* Hide horizontal scrollbar in WebKit browsers (Chrome, Safari, Edge) */
.cm-scroller::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Custom radial gradient for background */
.bg-gradient-radial {
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.font-consolas {
  font-family: "Consolas", "Courier New", monospace;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) both;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


.code-window {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  max-height: 70vh;
  background: #0f0f10;
  border-radius: 12px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.6);
  z-index: 9999;
  overflow: hidden;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background: #141416;
  color: #ccc;
  font-size: 14px;
  border-bottom: 1px solid #2a2a2d;
}

pre {
  margin: 0;
  padding: 16px;
  overflow: auto;
  font-size: 14px;
}
.hidden {
  display: none;
}
